.profile__button{
    width: 150px;
    height: 50px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    box-sizing: border-box;
    margin: auto 0 auto auto;
    display: flex;
    cursor: pointer;
    transition: opacity 1s;
    padding: 0;
    background-color: black;  
}
.profile__button:hover{
    opacity: 0.5;
}
@media screen and (max-width: 850px) {
    .profile__button{
        max-width: 90px;
        
    }
}
@media screen and (max-width: 700px) {
    .profile__button{
        width: 100%;
        margin: 0;
        max-width: 300px;
        
    }
}