.popup__icon{
    position: absolute;
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: opacity 2s;
}
.popup__icon:hover{
    opacity: 0.5;
}
@media screen and (max-width:500px) {
    .popup__icon {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
    }   
}