.popup__container-inputs{
    position: relative;
    background-color: white;
    border-radius: 10px;
    width: 430px;
}
@media screen and (max-width:500px) {
    .popup__container{
        margin-right: 30px;
        width: 100%;
        
        margin-left: 30px;
    }   
}
@media screen and (max-width:320px) {
    .popup__container{
        margin-right: 19px;
        
        margin-left: 19px;
    }   
}