.profile__subtitle{
    font-size: 1.125em;
    font-weight: 400;
    line-height: 1.21;
    margin: 0;
}
@media screen and (max-width: 700px) {
    .profile__subtitle{
        font-size: 0.875em;
        grid-column: span 2;
        text-align: center;
    }
}